PutBoxDesktop/Connected Services/PutBoxSvc/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://putbox.somee.com/PutBoxService/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://putbox.somee.com/PutBoxService/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://putbox.somee.com/PutBoxService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PutBoxService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPutBoxService_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IPutBoxService_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IPutBoxService_GetUserDir_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDir" />
  </wsdl:message>
  <wsdl:message name="IPutBoxService_GetUserDir_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDirResponse" />
  </wsdl:message>
  <wsdl:message name="IPutBoxService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPutBoxService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IPutBoxService_GetPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPath" />
  </wsdl:message>
  <wsdl:message name="IPutBoxService_GetPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPathResponse" />
  </wsdl:message>
  <wsdl:message name="IPutBoxService_GetFtpHost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFtpHost" />
  </wsdl:message>
  <wsdl:message name="IPutBoxService_GetFtpHost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFtpHostResponse" />
  </wsdl:message>
  <wsdl:message name="IPutBoxService_GetFtpUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFtpUser" />
  </wsdl:message>
  <wsdl:message name="IPutBoxService_GetFtpUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFtpUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPutBoxService_GetFtpPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFtpPassword" />
  </wsdl:message>
  <wsdl:message name="IPutBoxService_GetFtpPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFtpPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IPutBoxService">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IPutBoxService/Registration" message="tns:IPutBoxService_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPutBoxService/RegistrationResponse" message="tns:IPutBoxService_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDir">
      <wsdl:input wsaw:Action="http://tempuri.org/IPutBoxService/GetUserDir" message="tns:IPutBoxService_GetUserDir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPutBoxService/GetUserDirResponse" message="tns:IPutBoxService_GetUserDir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IPutBoxService/Login" message="tns:IPutBoxService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPutBoxService/LoginResponse" message="tns:IPutBoxService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPath">
      <wsdl:input wsaw:Action="http://tempuri.org/IPutBoxService/GetPath" message="tns:IPutBoxService_GetPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPutBoxService/GetPathResponse" message="tns:IPutBoxService_GetPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFtpHost">
      <wsdl:input wsaw:Action="http://tempuri.org/IPutBoxService/GetFtpHost" message="tns:IPutBoxService_GetFtpHost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPutBoxService/GetFtpHostResponse" message="tns:IPutBoxService_GetFtpHost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFtpUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPutBoxService/GetFtpUser" message="tns:IPutBoxService_GetFtpUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPutBoxService/GetFtpUserResponse" message="tns:IPutBoxService_GetFtpUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFtpPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPutBoxService/GetFtpPassword" message="tns:IPutBoxService_GetFtpPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPutBoxService/GetFtpPasswordResponse" message="tns:IPutBoxService_GetFtpPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPutBoxService" type="tns:IPutBoxService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IPutBoxService/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDir">
      <soap:operation soapAction="http://tempuri.org/IPutBoxService/GetUserDir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IPutBoxService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPath">
      <soap:operation soapAction="http://tempuri.org/IPutBoxService/GetPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFtpHost">
      <soap:operation soapAction="http://tempuri.org/IPutBoxService/GetFtpHost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFtpUser">
      <soap:operation soapAction="http://tempuri.org/IPutBoxService/GetFtpUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFtpPassword">
      <soap:operation soapAction="http://tempuri.org/IPutBoxService/GetFtpPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IPutBoxService" binding="tns:BasicHttpBinding_IPutBoxService">
      <soap:address location="http://putbox.somee.com/PutBoxService/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>